<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Sentiment Analyzer</title>
  </head>

  <body>
    <main>
      <div class="container">
        <p>Enter a URL of an article / a blog to discover its sentiment.</p>
        <section>
          <form id="form">
            <label for="url">URL</label>
            <input id="article-url" type="text" name="input" value="" placeholder="Enter Article URL here" />
            <button
              type="submit"
              class="btn-submit"
              id="btn"
            >
              Submit
            </button>
          </form>
        </section>

        <section>
          <strong>Form Results:</strong>
          <h3 class="label">Text from the article:</h3>
          <div id="text"></div>
          <h3 class="label">Agreement:</h3>
          <div id="agreement"></div>
          <h3 class="label">Subjectivity:</h3>
          <div id="subjectivity"></div>
          <h3 class="label">Confidence:</h3>
          <div id="confidence"></div>
          <h3 class="label">Irony:</h3>
          <div id="irony"></div>
          <h3 class="label">Score_Tag:</h3>
          <div id="score_tag"></div>
        </section>
      </div>
    </main>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js')
        })
      }
    </script>
  </body>
</html>
